# Specify filepatterns you want git to ignore.
# +++++++++++++++++++++++++++++++
# specfic files
tests/RTIMULib.ini
# +++++++++++++++++++++++++++++++
# file types
*.pyc
*.pyo
# +++++++++++++++++++++++++++++++
#  specific folders
docs/
tests/RTEllipsoidFit/