# Specify filepatterns you want git to ignore.
# +++++++++++++++++++++++++++++++
# specific files
tests/RTIMULib.ini
data/data*.txt
# +++++++++++++++++++++++++++++++
# file types
*.pyc
*.pyo

*.slxc
# +++++++++++++++++++++++++++++++
#  specific folders
docs/
tests/RTEllipsoidFit/
tests/fig/
sim/slprj/
